<!DOCTYPE html>
<html lang="en">
	<head>
		<title>James Kelley | Home Page</title>
		<meta charset="utf-8">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
		<link rel="icon" href="{% static 'main/images/GearRED.png' %}">
	</head>
	<div id="wrapper">
		<body>
			<div class="header">
			<img src="{% static 'main/images/Push.png' %}" alt="header image">
			</div>
			<div class="nav_bar">
				<div class="nav_links">
					<ul>
						<li><a href="/">. home</a></li>
						<li><a href="/about">. about</a></li>
						<li><a href="/music">. music</a></li>
						<li><a href="/press">. press</a></li>
						<li><a href="/upcoming_dates">. upcoming dates</a></li>
						<li><a href="/contact_booking">. contact / booking</a></li>
					</ul>
				</div>
			</div>
			<div class="main_block">
				<div>
					<img class="profile" src="{% static 'main/images/profile.jpg' %}" alt="main image">
				</div>
				<h4>. featured release</h4>
				<div class="vid">
				<iframe width="550" height="300" src="https://www.youtube.com/embed/AD7T60295UE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="side_block">
				<div class="message_block">
					{% if messages %}
         			 <ul>
         				{% for message in messages %}
             				<li>{{ message }}</li>
          				{% endfor %}
          			</ul>
       				{% endif %}
				</div>
				<div class="subscribe_block">
					<h2>. mailing list</h2>
					<h5>enter your email address to subscribe</h5>
					<div>
						<form action="/subscribe" method="post">
							{% csrf_token %}
							<input type="text" name="email" placeholder="example@email.com">
							<input class="button" type="submit" value=".subscribe">
						</form>
						<h5>. updates</h5>
						<h5>. first to receive new mixes</h5>
						<h5>. event details and locations</h5>
						<h5>. promo tracks before release</h5>
					</div>
				</div>
				<div class="nav_block">
					<a href="https://www.residentadvisor.net/dj/jameskelley/dates">
					<img class"nav" border="0" alt="resident advisor image" src="{% static 'main/images/HoverRA.gif' %}" width="51.44" height="23"></a>
					<a href="https://soundcloud.com/james-kelley">
					<img class"nav" border="0" alt="soundcloud image" src="{% static 'main/images/HoverSC.gif' %}" width="52" height="31"></a>
					<a href="https://www.beatport.com/artist/james-kelley/238391">
					<img class"nav" border="0" alt="beatport image" src="{% static 'main/images/HoverBP.gif' %}" width="75.5" height="28"></a>
					<a href="https://www.facebook.com/JamesKelleyOfficialMusicPage/">
					<img class"nav"  border="0" alt="fb artist site image" src="{% static 'main/images/HoverFB.gif' %}" width="30" height="30"></a>		
				</div>
			</div>
			<div class="footer">
				<h5>website design by dev2020</h5>
			</div>
		</body>
	</div>
</html>